<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ACT Automation suite">

 <listeners>
		<listener class-name="com.qa.pradeep.ExtenedReportListener.ExtenedReport" />
	</listeners>
  <test thread-count="5" name="ACT Free Test">
    <classes>
      <class name="com.qa.pradeep.testcase.ValidLoginactTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->